spring:
  application:
    name: "Order"
  datasource:
    url: ${ORDER_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 1000ms
          max-interval: 10000ms
          max-attempts: 3
          multiplier: 2.0
        default-requeue-rejected: false
    host: localhost
    port: 5672
    username: guest
    password: guest
server:
  port: 8081
logging:
  level:
    root: INFO
app:
  security:
    token:
      secret: ${TOKEN_PASSWORD}
  management:
    endpoints:
      web:
        exposure:
          include: health, info, Prometheus, metrics
    endpoint:
      health:
        show-details: always
  resilience4j:
    circuit breaker:
      instances:
        productService:
          registerHealthIndicator: true
          slidingWindowSize: 10
          minimumNumberOfCalls: 5
          permittedNumberOfCallsInHalfOpenState: 3
          waitDurationInOpenState: 5s
          failureRateThreshold: 50