spring:
  application:
    name: "Inventory"
  datasource:
    url: ${INVENTORY_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8085

logging:
  level:
    root: INFO

app:
  security:
    token:
      secret: ${TOKEN_PASSWORD}