spring:
  application:
    name: "Track"
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
   port: 8083

logging:
  level:
    root: INFO

app:
  security:
    token:
      secret: "12345678"
